resources:
- deployment.yaml
- service.yaml
- configmap.yaml
- ingress.yaml
- rbac.yaml
images:
- name: app-image
  newName: ghcr.io/robrotheram/warptail
  newTag: sha-5893ff7
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: your-namespace
